* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #111;
  color: white;
}

.logo {
  font-size: 1.3rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links li {
  cursor: pointer;
}

/* HERO */
.hero {
  background: linear-gradient(135deg, #3f87a6, #ebf8e1);
  padding: 5rem 2rem;
  text-align: center;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.hero button {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #111;
  color: white;
  cursor: pointer;
}

/* ABOUT */
.about {
  padding: 3rem 2rem;
  max-width: 800px;
  margin: auto;
  text-align: center;
}

.about h2 {
  margin-bottom: 1rem;
}

.projects{
  background: linear-gradient(135deg, #3f60a6, #e3f8e1);
  text-align: center;
}

.projects h2 {
  padding: 2rem;
} 

.project-list{
  display: flex;
  flex-wrap: row;
  gap: 2rem;
  justify-content: center;
  width: 100%;
  padding-bottom: 2rem;
}

.project-item{
  background-color: rgba(255, 255, 255, 0.315);
  padding: 1rem;
  border: 1px solid #ffffff00;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: left;
}

/* FOOTER */
.footer {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
}
